@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Fredoka+One&family=Gothic+A1&family=Inter&family=Libre+Baskerville&family=Montserrat:wght@400;700&family=Merriweather&family=Open+Sans:wght@400;700&family=Oswald&family=Pacifico&family=Poppins:wght@400;700&family=Quicksand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* WebKit-based browsers */
}

/* Hide scrollbar for Webkit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  height: 9px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #57534e; /* Dark track */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #9ca3af; /* Soft gray */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* Lighter on hover */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */